@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$tm-black-solid: rgba(0, 0, 0, 1);
// #000000;
$tm-black-transparent: rgba(0, 0, 0, 0.9);
$tm-white-solid: rgba(255, 255, 255, 1);
// #ffffff
$tm-teal-solid: rgba(116, 240, 237, 1);
// #74f0ed
$tm-darkGray-solid: rgba(61, 61, 61, 1);
// 3d3d3d
$tm-darkGray-transparent: rgba(61, 61, 61, 0.8);
$tm-coralRed-solid: rgba(234, 68, 90, 1);
// #ea445a

//$tm-yellow-solid: rgba(240, 237, 116, 1); #F0ED74
$tm-yellow-solid: rgba(250, 197, 80, 1);
// #FAC550

$tm-kanit: "Kanit", sans-serif;
$tm-roboto: "Roboto", sans-serif;

// Mondrian Colors
$mon-blue: #004592;
$mon-red: #E72F24;
$mon-yellow: #F9D01E;
$mon-white: #F0F1EC;
$mon-black: #232629;
