// tr3s
#tm-hero-tr3s {
  height: 100vh;
  width: 100%;
  background-color: $tm-black-solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  #tr3s-container {
    width: 100%;
    height: 84%;
    display: grid;
    grid-template-columns: 3fr 1fr;

    #tr3s-board {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .tr3s-card {
        background-color: white;
        margin: 1rem;
      }
    }
  }
}

// 42 the game
#tm-hero.game-42 {

  .hero-content.forty-two {
    padding-top: 100px;
    width: 90%;
    justify-content: space-evenly;

    .nums-42 {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .pos-42 {
        width: 80%;
        margin: 0.3rem 0;
        padding: 1rem 3rem;
        font-size: 18px;

        &.open {
          background-color: $tm-black-solid;
          color: white;
          text-align: left;
        }

        &:hover, &.filled {
          cursor: pointer;
          background-color: $tm-yellow-solid;
          border-radius: 42px;
          color: $tm-black-solid;
          font-weight: 600;
        }

        &.filled {
          width: 80%;
          margin: 0.3rem 0;
          padding: 1rem 3rem;
          font-size: 18px;
          text-align: center;

          &.filled:hover {
            cursor: default;
          }
        }

        &.game-over {
          background-color: $tm-coralRed-solid;
          color: white;
        }
      }
    }

    .display-42 {
      padding: 3rem;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .instructions-42 {
        text-align: justify;

        h2, p {
          margin-bottom: 1rem;
        }
        h1 {
          font-size: 42px;
        }

        h2 {
          font-size: 21px;
        }

        p {
          font-size: 18px;

          a {
            text-decoration: none;
            color: $tm-coralRed-solid;
            font-weight: 400;

            &:hover {
              color: $tm-teal-solid;
            }
          }
        }
      }

      .game-42-btn-container {
        height: 21%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        #showcase-42 {
          display: block;
          min-width: 42%;
          height: 84%;
          border-radius: 42px;
          justify-self: center;
          font-size: 21px;
          font-family: $tm-kanit;

          &:hover {
            background-color: $tm-teal-solid;
          }

          &.game-over {
            background-color: $tm-coralRed-solid;
            color: white;

            &:hover {
              background-color: $tm-yellow-solid;
              color: $tm-black-solid;
            }
          }
        }
      }

      .game-42-results {
        display: flex;
        justify-content: space-between;
        
        &-container {
          display: flex;
          flex-direction: column;
          text-align: center;
          font-size: 21px;
          color: white;

          .current-game-42-points, .prev-game-42-points, .best-game-42-points {
            color: $tm-teal-solid;
          }
        }
      }
    }
  }
}

