#tm-hero-tr3s {
  height: 100vh;
  width: 100%;
  background-color: $tm-black-solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  #tr3s-container {
    width: 100%;
    height: 84%;
    display: grid;
    grid-template-columns: 3fr 1fr;

    #tr3s-board {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .tr3s-card {
        background-color: white;
        margin: 1rem;
      }
    }
  }
}



