// TeacherMaik Buttons
.tm-btn-coralRed {
  background-color: $tm-coralRed-solid;
  color: $tm-white-solid;
  padding: 1rem;
}

.tm-btn-teal {
  background-color: $tm-teal-solid;
  color: $tm-black-solid;
  padding: 1rem;
}

.tm-btn-yellow {
  background-color: $tm-yellow-solid;
  color: $tm-black-solid;
  padding: 1rem;
}

.tm-btn-white {
  background-color: $tm-white-solid;
  color: $tm-black-solid;
  padding: 1rem;
}

.tm-btn-white-border {
  background-color: $tm-black-solid;
  color: $tm-white-solid;
  border: 2px solid $tm-white-solid;
  padding: 1rem;
}

.inline-coral {
  color: $tm-coralRed-solid;
}

.inline-yellow {
  color: $tm-yellow-solid;
}

.inline-teal {
  color: $tm-teal-solid;
}

.inline-bold {
  font-family: $tm-kanit;
  font-weight: 700;
}

button {
  cursor: pointer;
  border: none;
}
