@import 'config';
@import 'utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $tm-roboto;
}

:root {
  font-size: 10px;
}

body {
  background-color: $tm-white-solid;
  color: $tm-white-solid;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: $tm-kanit;
  font-weight: 500;
}

#tm-navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  z-index: 3;

  &.top {
    background-color: $tm-black-solid;
  }

  &.scrolled {
    background-color: $tm-black-transparent;
  }

  .tm-brand {
    display: flex;
    
    a {
      
      img {
        height: 50px;
      }
    }
  }

  .tm-main-menu {
    display: flex;
    align-items: center;

    li {
      margin: 0 1rem;

      a {
        font-size: 2.1rem;
        padding: 0.7rem 1.3rem;
        color: $tm-white-solid;

        &:hover {
          background-color: $tm-coralRed-solid;
        border-radius: 2rem;
        }
      }
    }
  }
}

#tm-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 7rem;
  background-color: $tm-black-solid;

  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    &.home {
      .intro {
        width: 42%;
        line-height: 4rem;
  
        h1, h2 {
          font-size: 7rem;
          color: $tm-white-solid;
          line-height: 7rem;
        }
  
        h2 {
          margin-bottom: 1rem;
          color: $tm-coralRed-solid;
        }
  
        p {
          font-size: 3rem;
  
  
          span {
            color: $tm-teal-solid;
          }
        }
      }
  
      .display {
        width: 50%;
        font-size: 7rem;
        font-family: $tm-kanit;
        font-weight: 400;
      }
    }

    &.webs, &.css-portfolio {
      background-color: $tm-black-solid;
      color: $tm-white-solid;

      .intro {
        width: 60%;;

        h1 {
          font-size: 7rem;
        }

        h2 {
          font-size: 3rem;
        }

        p {
          font-size: 2.1rem;
          text-align: justify;
          word-spacing: 0.7rem;
        }

        h1, h2, p {
          margin-bottom: 2rem;
        }
      }

      .display {
        width: 21%;
        height: 100%;
        display: flex;
        align-items: flex-end;

        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          li {
            width: 100%;
            padding: 1rem;

            a {
              display: block;
              width: 100%;
              font-size: 2.1rem;
              font-weight: 500;
              border-radius: 21px;
              text-align: right;
              border: 2px solid transparent;

              &.tm-btn-teal:hover {
                border: 2px solid $tm-teal-solid;
                color: $tm-teal-solid;
                background-color: $tm-black-solid;
              }

              &.tm-btn-coralRed:hover {
                border: 2px solid $tm-coralRed-solid;
                color: $tm-coralRed-solid;
                background-color: $tm-black-solid;
              }

              &.tm-btn-yellow:hover {
                border: 2px solid $tm-yellow-solid;
                color: $tm-yellow-solid;
                background-color: $tm-black-solid;
              }
            }
          }
        }
      }
    }

    &.mondrian {
      position: relative;

      .display {
        width: 58%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
          display: block;
          width: 60%;
        }
      }

      .intro {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 42%;

        h1 {
          font-size: 4.2rem;
          justify-self: flex-start;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 2.1rem;
        }

        .mondrian-buttons {
          position: absolute;
          bottom: 0;
          width: 100%;
          align-self: flex-end;
          display: flex;
          justify-content: flex-end;

          ul {
            width: 42%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            li {
              width: 100%;
              padding: 1.7rem 1rem;

              a {
                display: block;
                width: 100%;
                font-size: 2.1rem;
                font-weight: 500;
                border-radius: 21px;
                text-align: right;

                &.tm-btn-white {
                  border: 2px solid $tm-white-solid;

                  &:hover {
                    background-color: $tm-black-solid;
                    color: $tm-white-solid;
                    border: 2px solid $tm-white-solid
                  }
                }

                &.tm-btn-white-border:hover {
                  background-color: $tm-white-solid;
                  color: $tm-black-solid;
                  border: 2px solid $tm-black-solid;
                }
              }
            }
          }
        }
      }
    }
  }
}

#tm-home-content {
  position: relative;
  background-color: $tm-white-solid;
  color: $tm-black-solid;
  font-size: 3rem;

  .tm-home-content-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;

    .tm-presentation {
      position: relative;
      width: 60%;
      padding: 2rem;
      margin-bottom: 3rem;

      h4 {
        text-align: justify;
        font-size: 2.1rem;
        line-height: 3rem;
      }
    }

    .tm-presentation-cards {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
      margin-bottom: 7rem;

      .tm-card {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;
        background-color: $tm-black-solid;
        border-radius: 7%;
        padding: 2.1rem;
        display: flex;
        flex-direction: column;
        gap: 7%;

        h3 {
          font-size: 3.6rem;
          color: $tm-white-solid;
        }

        .languages {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1.3rem;

          p {
            text-align: justify;
            color: $tm-white-solid;
            font-size: 1.6rem;
          }
        }

        &.first::after {
          content: '';
          position: absolute;
          width: 5%;
          aspect-ratio: 1/1;;
          background-color: $tm-coralRed-solid;
          border-radius: 50%;
          top: 47.5%;
          left: -2.5%;
        }

        &.first::before {
          content: '';
          position: absolute;
          background-color: $tm-white-solid;
          width: 10%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          top: 45%;
          left: -5%;
        }
      }

      .time-line {
        position: relative;
        width: 100%;
        height: 3%;
        background-color: $tm-coralRed-solid;
        align-self: center;
        z-index: 1;

        &-end-buffer {
          position: absolute;
          height: 300%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: $tm-white-solid;
          z-index: 1;
          left: -7%;
          top: -100%;
          z-index: 1;

          &.last {
            left: 90%
          }
        }

        &-end-dot {
          position: absolute;
          left: -3%;
          height: 100%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: $tm-coralRed-solid;
          z-index: 2;

          &.last {
            left: 97%;
          }
        }

        &-line {
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: $tm-coralRed-solid;
          z-index: 2;
        }
      }
    }

    .tm-home-pic {
      position: relative;
      width: 42%;
      height: 70vh;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 7rem;

      img {
        width: 42%;
        border: 7px solid $tm-teal-solid;
        border-radius: 50%;
        z-index: 2;
      }

      &::after {
        position: absolute;
        content: '';
        width: 48%;
        aspect-ratio: 1/1;
        background-color: $tm-black-solid;
        border-radius: 50%;
      }
    }
  }
}

.webs-gallery {
  position: relative;
  padding: 0 7rem;
  display: grid;
  grid-template-columns: 1fr;

  &-item {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-container {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;

      .webs-gallery-img {
        width: 100%;
        position: relative;

        img {
          width: 100%;
          border-radius: 14px;
        }
      }

      .webs-gallery-text {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 7rem;
        color: $tm-black-solid;

        h3 {
          margin-bottom: 1rem;

          a {
            font-family: $tm-kanit;
            font-size: 4.2rem;
            color: $tm-black-solid;

            &:hover {
              color: $tm-coralRed-solid;
            }
          }
        }

        p {
          text-align: justify;
          font-size: 1.8rem;
          margin-bottom: 2rem;
        }

        .dot-outer {
          display: block;
          position: absolute;
          bottom: 7px;
          right: 7px;
          width: 42px;
          aspect-ratio: 1/1 ;
          border-radius: 50%;
          background-color: $tm-black-solid;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {

            > div {
              background-color: $tm-teal-solid;
            }
          }

          .dot-inner {
            display: block;
            width: 14px;
            aspect-ratio: 1/1 ;
            border-radius: 50%;
            background-color: $tm-coralRed-solid;
          }
        }
      }
    }
  }
}

@import 'mondrian';


section.footer-specs {
  position: relative;
  background-color: $tm-coralRed-solid;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-evenly;

  &.css-portfolio {
    background-color: $tm-yellow-solid;
    color: $tm-black-solid;
  }
  > div {
    width: 33%;
    padding: 1rem 2rem;

    p {
      text-align: justify;
      font-size: 1.5rem;

      a {
        color: $tm-black-solid;
        font-weight: 500;

        &:hover {
          color: $tm-white-solid;
        }
      }
    }
  }
}


footer {
  position: relative;
  padding: 1rem 7rem;
  display: flex;
  justify-content: space-between;
  background-color: $tm-black-solid;

  .info {

    .social {
      display: flex;
  
      i {
        color: $tm-white-solid;
        padding: 1rem;
        font-size: 3rem;
  
        &:hover {
          color: $tm-coralRed-solid;
        }
      }
    }

    h3 {
      font-size: 1.3rem;
      font-weight: 300;
      padding: 0.3rem;
    }
  }

  .web-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    a {
      padding: 0.3rem;
      color: $tm-white-solid;
      font-size: 1.3rem;
      font-weight: 300;

      &:hover {
        color: $tm-teal-solid
      }
    }
  }
}