@import 'config';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background-color: $tm-black-solid;
  color: $tm-white-solid;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: $tm-kanit;
}

p, h3, h4 {
  font-family: $tm-roboto;
}

#tm-navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  &.top {
    background-color: $tm-black-solid;
  }

  &.scrolled {
    background-color: $tm-black-transparent;
  }

  .tm-brand {
    display: flex;
  }

  .tm-main-menu {
    display: flex;
    align-items: center;

    li {
      margin: 0 1rem;

      a {
        font-size: 2.1rem;
        padding: 0.7rem 1.3rem;
        color: $tm-white-solid;
      }
    }

    :nth-child(3) {

      a {
        background-color: $tm-coralRed-solid;
        border-radius: 2rem;
      }
    }
  }
}

#tm-hero-home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 7rem;

  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .intro {
      width: 42%;
      line-height: 4rem;

      h1, h2 {
        font-size: 7rem;
        color: $tm-white-solid;
        font-weight: 300;
        line-height: 7rem;
      }

      h2 {
        margin-bottom: 1rem;
        color: $tm-coralRed-solid;
      }

      p {
        font-size: 3rem;

        span {
          color: $tm-teal-solid;
        }
      }
    }

    .display {
      width: 50%;
      font-size: 7rem;
      font-family: $tm-kanit;
      font-weight: 400;
    }
  }
}

#tm-home-content {
  position: relative;
  background-color: $tm-white-solid;
  color: $tm-black-solid;
  font-family: $tm-roboto;
  font-size: 3rem;

  .tm-home-content-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;

    .tm-presentation {
      position: relative;
      width: 60%;
      padding: 2rem;
      margin-bottom: 3rem;

      h4 {
        text-align: justify;
        font-size: 2.1rem;
        font-family: $tm-roboto;
        line-height: 3rem;
      }
    }

    .tm-presentation-cards {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
      margin-bottom: 7rem;

      .tm-card {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;
        background-color: $tm-black-solid;
        border-radius: 7%;
        padding: 2.1rem;
        display: flex;
        flex-direction: column;
        gap: 7%;

        h3 {
          font-size: 3.6rem;
          color: $tm-white-solid;
        }

        .languages {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1.3rem;

          p {
            text-align: justify;
            color: $tm-white-solid;
            font-size: 1.6rem;
          }
        }

        &.first::after {
          content: '';
          position: absolute;
          width: 5%;
          aspect-ratio: 1/1;;
          background-color: $tm-coralRed-solid;
          border-radius: 50%;
          top: 47.5%;
          left: -2.5%;
        }

        &.first::before {
          content: '';
          position: absolute;
          background-color: $tm-white-solid;
          width: 10%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          top: 45%;
          left: -5%;
        }
      }

      .time-line {
        position: relative;
        width: 100%;
        height: 3%;
        background-color: $tm-coralRed-solid;
        align-self: center;
        z-index: 1;

        &-end-buffer {
          position: absolute;
          height: 300%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: $tm-white-solid;
          z-index: 1;
          left: -7%;
          top: -100%;
          z-index: 1;

          &.last {
            left: 90%
          }
        }

        &-end-dot {
          position: absolute;
          left: -3%;
          height: 100%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: $tm-coralRed-solid;
          z-index: 2;

          &.last {
            left: 97%;
          }
        }

        &-line {
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: $tm-coralRed-solid;
          z-index: 2;
        }
      }
    }

    .tm-home-pic {
      position: relative;
      width: 42%;
      height: 70vh;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 7rem;

      img {
        width: 42%;
        border: 7px solid $tm-teal-solid;
        border-radius: 50%;
        z-index: 2;
      }

      &::after {
        position: absolute;
        content: '';
        width: 48%;
        aspect-ratio: 1/1;
        background-color: $tm-black-solid;
        border-radius: 50%;
      }
    }

  }
}

footer {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;

  .info {

    .social {
      display: flex;
  
      i {
        color: $tm-white-solid;
        padding: 1rem;
        font-size: 3rem;
  
        &:hover {
          color: $tm-coralRed-solid;
        }
      }
    }

    h3 {
      font-family: $tm-roboto;
      font-size: 1.3rem;
      font-weight: 300;
      padding: 0.3rem;
    }
  }

  .webs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    a {
      padding: 0.3rem;
      color: $tm-white-solid;
      font-family: $tm-roboto;
      font-size: 1.3rem;
      font-weight: 300;

      &:hover {
        color: $tm-teal-solid
      }
    }
  }
}